body.admin, body.shop {
	nav, .items .item {
		padding: 1em 2em;
		.level {
			.level-left .level-item {
				padding-right: 0.5em;
			}
			.level-right .level-item {
				padding-left: 0.5em;
			}
		}
	}
	nav {
		
	}
	.items.nested .item {
		padding: 1em 0;
	}
	nav.header {
		border-bottom: 1px solid #EEE;
	}
}

body.admin {
	nav ul li {
		display: inline;
		margin-left: 1em;
		a {
			&.current {
				color: #000;
			}
		}
	}
	nav.pagination {
		padding: 2em;
	}
	.items {
		.item {
			border-bottom: 1px solid #EEE;
		}
	}
	.itemdetail, .pageheader {
		padding: 1em 2em;
		h1 {
			font-size: 2em;
			font-weight: bold;
		}
		.metadata {
			padding: 1em 0;
		}
	}
	.pageheader {
		border-bottom: 1px solid #EEE;
	}
	.productlinks {
		border-top: 1px solid #EEE;
		margin: 0 2em;
	}
	.actionbutton {
		text-align: right;
		padding: 2em;
	}
}